.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}



.reg-form{
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(106, 178, 240);
  border-radius: 10px;
  padding: 20px 10px;
  border: 1px solid black;
  margin: 20px;
}

.reg-form input {
  width: 200px;
  border-radius: 10px;
  height: 25px;
  padding: 5px;
  border: 1px solid gray;
  margin-top: 5px;
  margin-left: 20px;
 
}

.reg-form .field{
  display: flex;
  justify-content: space-between;
  align-items: center;
}


